[importlinter]
root_package = messagekit

[importlinter:contract:layers]
name = Clean Architecture layer independence
type = layers
layers =
    messagekit.presentation
    messagekit.infrastructure
    messagekit.application
    messagekit.domain
    messagekit.core
